body {
    background-image: url('./bg.jpg');
    background-size: cover;                   
    background-repeat: no-repeat;
    background-position: center center; 
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#printer {
    display: flex;
    justify-content: center;
    position: relative;
}

#printer img {
    width: 25vw;
    height: auto;
    position: absolute;

}
